
$color1: var(--color1,#e30016);
$color2: var(--color2,#e6a526);
$font1: var(--font1,#41414c);
$font2: var(--font2,#ffffff);
$background-theme: var(--background-theme,#ffffff);
$background: var(--background,rgba(#e30016, 0.2));
$background-font-1: var(--background-font-1,rgba(#41414c, 0.1));
$background-font-2: var(--background-font-2,rgba(#41414c, 0.2));
$background-font-4: var(--background-font-4,rgba(#41414c, 0.4));
$background-font-6: var(--background-font-6,rgba(#41414c, 0.6));

@function vw($size) {
  @return calc($size/750) * 100vw;
}

@function vw2($size) {
  @return calc($size/1024) * 100vw;
}

@mixin icon($w, $h, $url) {
  display: inline-block;
  width: $w;
  height: $h;
  background-image: url("~/assets/images/" + $url);
  background-size: 100% 100%;
}

@mixin bg($url) {
  background-image: url("~/assets/images/" + $url);
  background-size: 100% 100%;
}

@mixin btn-img($width, $height, $url) {
  width: $width;
  height: $height;
  cursor: pointer;
  background-image: url("~/assets/images/" + $url);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  @include center;
}

@mixin ellipsis($lineCount: 1) {
  @if $lineCount == 1 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  } @else {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: $lineCount;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
  }
}

@mixin center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin scroll() {
  overflow-x: auto;
  overflow-y: hidden;
  &::-webkit-scrollbar {
    display: none;
  }
}
